<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Declaration page</title>
</head>
<body>
<div class="container">
  <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><h1>Declaration</h1></h5>
                <p class="card-text">
                    The following are the Terms and Conditions of the Notes which will be incorporated by reference into each
    Global Note (as defined below) and each definitive Note, in the latter case only if permitted by the rules
    of the relevant stock exchange or other relevant authority (if any) and agreed by the Issuer, the Guarantor
    and the relevant Dealer at the time of issue but, if not so permitted and agreed, such definitive Note will
    have endorsed thereon or attached thereto such Terms and Conditions. The applicable Pricing Supplement in r
    elation to any Tranche of Notes may specify other terms and conditions which shall, to the extent so specif
    ied or to the extent inconsistent with the following Terms and Conditions, replace or modify the following
    Terms and Conditions for the purpose of such Notes. The applicable Pricing Supplement (or the relevant provis
    ions thereof) will be endorsed upon, or attached to, each Global Note and definitive Note. Reference should b
    e made to “Form of the Notes” for a description of the content of Pricing Supplement which will specify which
    of such terms are to apply in relation to the relevant Notes.</p>

</div>
  </div>
</div>
  </div>
</div>
                <form>

     {% csrf_token %}
    <label> Agree</label>
    <input type="checkbox"><br><br>
</form>
<a href="/credential/form"><button>Proceed</button></a>
</body>
</html>